/* Afsana Podcast CSS by Anindita Basu */
/* Contains styles not contained in w3.css and w3-theme-dark-grey.css, and style overrides thereto */

.doubleborder {
    border-width:7px;	
    border-style:ridge;
	border-color:#B45F04;
}

.border {
	border-color:#FFA500;
    border-width:2px;	
    border-style:solid;
}

.borderwhite {
	border-color:#FFFFFF;
    border-width:3px;	
    border-style:ridge;
}

.authorcard{ width:150px; height:120px; float:left; }

.newtag {display:inline-block;padding-left:8px;padding-right:8px;text-align:left;}

.anoline {text-decoration:none;}